<div class="sair">
    <span>Olá, Abel</span> <button><i class="fas fa-power-off"></i></button>
</div>
<div class="container">
    <div class="quadro">
        <div class="quadro-header">
            <h3>Pendente</h3>
        </div>
        <div id="fazer" class="quadro-body">
            <div id="item1" class="item" draggable="true">
                Programar feature #1
                <div class="item-footer">
                    <i class="fas fa-clock"></i>
                    <span> 31/07/2021</span>
                </div>
            </div>
            <div id="item2" class="item" draggable="true">Pegar issues #3 e #7</div>
            <div id="item3" class="item" draggable="true">Beber água</div>
            <button class="novo-item" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i> Novo card</button>
        </div>
    </div>
    <div class="quadro">
        <div class="quadro-header">
            <h3>Em andamento</h3>
        </div>
        <div id="fazendo" class="quadro-body">
            <div id="item4" class="item" draggable="true">ITEM4</div>
            <button class="novo-item" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i> Novo card</button>
        </div>
    </div>
    <div class="quadro">
        <div class="quadro-header">
            <h3>Finalizado</h3>
        </div>
        <div id="feito" class="quadro-body">
            <div id="item5" class="item" draggable="true">ITEM5</div>
            <div id="item6" class="item" draggable="true">ITEM6</div>
            <button class="novo-item" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i> Novo card</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Novo card</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nome" class="col-form-label">Título</label>
                        <input type="text" class="form-control" id="nome" placeholder="Correção featura #37..." />
                    </div>
                    <div class="form-group">
                        <label for="vencimento" class="col-form-label">Vencimento</label>
                        <input type="datetime" class="form-control" id="vencimento" placeholder="31/07/2021 03:23"/>
                    </div>
                    <div class="form-group">
                        <label for="vencimento" class="col-form-label">Status</label>
                        <div class="dropdown">
                            <select>
                                <option selected>Pendente</option>
                                <option>Em andamento</option>
                                <option>Finalizado</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descricao" class="col-form-label">Descrição</label>
                        <textarea class="form-control" id="descricao" placeholder="A feature 27 está apresentando erros em uma determinada ação do usuário..."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .container {
        display: flex;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .quadro-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20%;
        padding-right: 10px;
        padding: 10px 15px 10px 15px;
    }

    .quadro-body {
    }

    .quadro {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30rem;
        height: fit-content;
        background-color: #ebecf0;
        border-radius: 5px;
    }

    .item {
        width: stretch;
        min-height: 50px;
        height: auto;
        margin: 0px 10px 10px 10px;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
        padding: 5px;
    }

    .item-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 15px 5px 5px 0px;
        color: grey;
    }

    .item-footer > span {
        margin-left: 5px;
    }

    .espacador {
        width: stretch;
        min-height: 50px;
        height: auto;
        margin: 0px 10px 10px 10px;
        padding: 5px;
        background-color: transparent;
        border: dotted;
        border-radius: 3px;
        border-width: 1px;
        border-color: grey;
    }

    .novo-item {
        border: none;
        padding: 10px;
        margin: 5px;
    }

    h3 {
        margin: unset;
    }

    body {
        background: -webkit-linear-gradient(left, #7577FA 20px, transparent 1%) center, -webkit-linear-gradient(#7577FA 20px, transparent 1%) center, #9192FB;
        background: linear-gradient(90deg, #7577FA 20px, transparent 1%) center, linear-gradient(#7577FA 20px, transparent 1%) center, #9192FB;
        background-size: 22px 22px;
    }

    .sair {
        display: block;
        position: absolute;
        top: 3rem;
        right: 3rem;
    }

    .sair > button {
        color: red;
        border: none;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    }

    .sair > span {
        color: white;
        font-weight: bold;
        margin: 10px;
    }
</style>

@section scripts {
    <script type="text/javascript">
        $(function () {
            draggableInit();
        });

        function draggableInit() {
            let elementoDestino;

            $('[draggable=true]').bind('dragstart', (event) => {
                event.originalEvent.dataTransfer.setData("text/plain", event.target.getAttribute('id'));
            });

            $('.quadro-body').bind('dragover', (event) => {
                event.preventDefault();

                const elemento = document.elementFromPoint(event.clientX, event.clientY);
                if (!elemento)
                    return;

                if (!elemento.classList.contains('item'))
                    return;

                // remove o espaçador antes de colocar um novo
                $('#espacador').remove();

                const newEl = document.createElement('div');
                newEl.className = 'espacador';
                newEl.style.height = `${elemento.clientHeight}px`;
                newEl.id = 'espacador';

                elemento.parentNode.insertBefore(newEl, elemento);

                elementoDestino = elemento;
            });

            $('.quadro-body').bind('drop', (event) => {
                $('#espacador').remove();

                const elementoId = event.originalEvent.dataTransfer.getData("text/plain");

                setTimeout(() => {
                    const elemento = document.getElementById(elementoId);
                    if (!elemento)
                        return;

                    if (event.target.getAttribute('class')?.endsWith('quadro-body'))
                        event.target.prepend(elemento);
                    else
                        elementoDestino.parentNode.insertBefore(elemento, elementoDestino);

                }, 50);

                event.preventDefault();
            });

            $('.quadro-body').bind('dragend', (event) => {
                $('#espacador').remove();
            });
        }
    </script>
}