<div>
    <h1>Olá, o recurso que você solicitou não foi encontrado :(</h1>

    <a href="#">Clique aqui para voltar à página anterior.</a>
</div>

<style>
    div {
        color: white;
    }
</style>