<div>
    <h1>Desculpa! Não conseguimos processar sua solicitação :(</h1>

    <a href="#">Clique aqui para voltar à página anterior.</a>
</div>

<style>
    div {
        color: white;
    }
</style>