<h2>Login</h2>
<form method="post" action="@Url.Action("Autenticar", "Usuario")">
    <input name="email" />
    <input name="senha" type="password" />
    <button type="submit">Logar</button>
</form>